<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">


<link rel="shortcut icon" href="assets/img/favicon.png">



<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/feather/feather.css">

<link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/plugins/summernote/summernote-lite.min.css">

<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="main-wrapper">






<div class="page-wrapper">
<div class="content container-fluid">



<div class="row">
<div class="col-lg-3 col-md-4">
<ul class="inbox-menu">
<li class="active">
<a href="#"><i class="fas fa-download"></i> Inbox <span class="mail-count">(5)</span></a>
</li>
<li>
<a href="#"><i class="far fa-star"></i> Important</a>
</li>
<li>
<a href="#"><i class="far fa-paper-plane"></i> Sent Mail</a>
</li>
<li>
<a href="#"><i class="far fa-file-alt"></i> Drafts <span class="mail-count">(13)</span></a>
</li>
<li>
<a href="#"><i class="far fa-trash-alt"></i> Trash</a>
</li>
</ul>
</div>
<div class="col-lg-9 col-md-8">
<div class="card">
<div class="card-body">
<form action="https://preschool.dreamstechnologies.com/template/inbox.html">
<div class="form-group">
<input type="email" placeholder="To" class="form-control">
</div>
<div class="row">
<div class="col-md-6">
<div class="form-group">
<input type="email" placeholder="Cc" class="form-control">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<input type="email" placeholder="Bcc" class="form-control">
</div>
</div>
</div>
<div class="form-group">
<input type="text" placeholder="Subject" class="form-control">
</div>
<div class="form-group">
<textarea rows="4" class="form-control summernote" placeholder="Enter your message here"></textarea>
</div>
<div class="form-group mb-0">
<div class="text-center">
<button class="btn btn-primary"><i class="fas fa-paper-plane m-r-5"></i> <span>Send</span></button>
<button class="btn btn-success m-l-5" type="button"> <i class="far fa-save m-r-5"></i> <span>Draft</span></button>
<button class="btn btn-danger m-l-5" type="button"> <i class="far fa-trash-alt m-r-5"></i><span>Delete</span></button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<script src="assets/js/jquery-3.7.1.min.js" type="80fe2ff0402f4f408f82a1a6-text/javascript"></script>

<script src="assets/js/bootstrap.bundle.min.js" type="80fe2ff0402f4f408f82a1a6-text/javascript"></script>

<script src="assets/js/feather.min.js" type="80fe2ff0402f4f408f82a1a6-text/javascript"></script>

<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js" type="80fe2ff0402f4f408f82a1a6-text/javascript"></script>

<script src="assets/plugins/summernote/summernote-lite.min.js" type="80fe2ff0402f4f408f82a1a6-text/javascript"></script>

<script src="assets/js/script.js" type="80fe2ff0402f4f408f82a1a6-text/javascript"></script>
<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="80fe2ff0402f4f408f82a1a6-|49" defer></script></body>


</html>