<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">


<link rel="shortcut icon" href="assets/img/favicon.png">


<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/feather/feather.css">

<link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

    <div class="main-wrapper">






<div class="page-wrapper">
<div class="content container-fluid">



<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<form>
<div class="row">
<div class="col-12">
<h5 class="form-title"><span>Transport Information</span></h5>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>Route Name <span class="login-danger">*</span></label>
<input type="text" class="form-control" value="New Cross">
</div>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>Vehicle Number <span class="login-danger">*</span></label>
<input type="text" class="form-control" value="TN 43 AS 5263">
</div>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>Driver Name <span class="login-danger">*</span></label>
<input type="text" class="form-control" value="Steve">
</div>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>License Number <span class="login-danger">*</span></label>
<input type="text" class="form-control" value="REDH968532">
</div>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>Contact Number <span class="login-danger">*</span></label>
<input type="text" class="form-control" value="+91 8974158962">
</div>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>Driver Address <span class="login-danger">*</span></label>
<input type="text" class="form-control" value="152, South Pole, 2nd Street, 3rd Cross">
</div>
</div>
<div class="col-12">
<div class="student-submit">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<script src="assets/js/jquery-3.7.1.min.js" type="a879b8dcaf811770f9f59ac9-text/javascript"></script>

<script src="assets/js/bootstrap.bundle.min.js" type="a879b8dcaf811770f9f59ac9-text/javascript"></script>

<script src="assets/js/feather.min.js" type="a879b8dcaf811770f9f59ac9-text/javascript"></script>

<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js" type="a879b8dcaf811770f9f59ac9-text/javascript"></script>

<script src="assets/js/script.js" type="a879b8dcaf811770f9f59ac9-text/javascript"></script>
<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="a879b8dcaf811770f9f59ac9-|49" defer></script></body>


</html>