<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">


<link rel="shortcut icon" href="assets/img/favicon.png">


<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/feather/feather.css">

<link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">

<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="main-wrapper">







<div class="page-wrapper">
<div class="content container-fluid">



<div class="row">
<div class="col-sm-12">
<div class="card card-table">
<div class="card-body">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Expenses</h3>
</div>
<div class="col-auto text-end float-end ms-auto download-grp">
<a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
<a href="add-expenses.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
</div>
</div>
</div>

<div class="table-responsive">
<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
<thead class="student-thread">
<tr>
<th>ID</th>
<th>Item Name</th>
<th>Item Quality</th>
<th>Amount</th>
<th>Purchase Source</th>
<th>Purchase Date</th>
<th>Purchase By</th>
</tr>
</thead>
<tbody>
<tr>
<td>PRE2209</td>
<td>
<h2>
<a>Chair</a>
</h2>
</td>
<td>6</td>
<td>$120</td>
<td>Abc Shop</td>
<td>17 Aug 2020</td>
<td>Lois</td>
</tr>
<tr>
<td>PRE2213</td>
<td>
<h2>
<a>Table</a>
</h2>
</td>
<td>2</td>
<td>$56</td>
<td>Online</td>
<td>05 Aug 2020</td>
<td>Malynne</td>
</tr>
<tr>
<td>PRE2143</td>
<td>
<h2>
<a>Desk</a>
</h2>
</td>
<td>6</td>
<td>$378</td>
<td>Take Away</td>
<td>04 Sept 2020</td>
<td>Levell Scott</td>
</tr>
<tr>
<td>PRE2431</td>
<td>
<h2>
<a>Projector</a>
</h2>
</td>
<td>1</td>
<td>$246</td>
<td>Real Shop</td>
<td>17 Sept 2020</td>
<td>Minnie</td>
</tr>
<tr>
<td>PRE1534</td>
<td>
<h2>
<a>Hard disk</a>
</h2>
</td>
<td>2</td>
<td>$560</td>
<td>Sony Center</td>
<td>02 Oct 2020</td>
<td>Lois A</td>
</tr>
<tr>
<td>PRE2153</td>
<td>
<h2>
<a>Note books</a>
</h2>
</td>
<td>100</td>
<td>$236</td>
<td>DJ Stationary</td>
<td>28 Oct 2020</td>
<td>Calvin</td>
</tr>
<tr>
<td>PRE1252</td>
<td>
<h2>
<a>Water Bottle</a>
</h2>
</td>
<td>267</td>
<td>$237</td>
<td>DJ Stationary</td>
<td>17 Oct 2020</td>
<td>Joe Kelley</td>
</tr>
<tr>
<td>PRE1536</td>
<td>
<h2>
<a>Hard disk</a>
</h2>
</td>
<td>3</td>
<td>$560</td>
<td>music Center</td>
<td>02 Oct 2020</td>
<td>Lois A</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>



</div>

</div>


<script src="assets/js/jquery-3.7.1.min.js" type="8a01340aaeb43113219af97d-text/javascript"></script>

<script src="assets/js/bootstrap.bundle.min.js" type="8a01340aaeb43113219af97d-text/javascript"></script>

<script src="assets/js/feather.min.js" type="8a01340aaeb43113219af97d-text/javascript"></script>

<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js" type="8a01340aaeb43113219af97d-text/javascript"></script>

<script src="assets/plugins/datatables/datatables.min.js" type="8a01340aaeb43113219af97d-text/javascript"></script>

<script src="assets/js/script.js" type="8a01340aaeb43113219af97d-text/javascript"></script>
<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="8a01340aaeb43113219af97d-|49" defer></script></body>


</html>