<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<!-- title -->
<link rel="shortcut icon" href="assets/img/favicon.png">

<!-- style -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/feather/feather.css">

<link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

<link rel="stylesheet" href="assets/css/feather.css">

<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="main-wrapper">

<!--  header-->


<!-- sidebar -->


<div class="page-wrapper">
<div class="content container-fluid">
<!-- page header -->
<div class="row">
<div class="col-lg-12">

<div class="settings-menu-links">
<ul class="nav nav-tabs menu-tabs">
<li class="nav-item">
<a class="nav-link" href="settings.html">General Settings</a>
</li>
<li class="nav-item">
<a class="nav-link" href="localization-details.html">Localization</a>
</li>
<li class="nav-item">
<a class="nav-link" href="payment-settings.html">Payment Settings</a>
</li>
<li class="nav-item">
<a class="nav-link" href="email-settings.html">Email Settings</a>
</li>
<li class="nav-item">
<a class="nav-link" href="social-settings.html">Social Media Login</a>
</li>
<li class="nav-item">
<a class="nav-link" href="social-links.html">Social Links</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="seo-settings.html">SEO Settings</a>
</li>
<li class="nav-item">
<a class="nav-link" href="others-settings.html">Others</a>
</li>
</ul>
</div>

<div class="row">
<div class="col-md-6">
<div class="card">
<div class="card-header">
<h5 class="card-title">SEO Settings</h5>
</div>
<div class="card-body pt-0">
<form>
<div class="settings-form">
<div class="form-group form-placeholder">
<label>Meta Title <span class="star-red">*</span></label>
<input type="text" class="form-control">
</div>
<div class="form-group">
<label>Meta Keywords <span class="star-red">*</span></label>
<input type="text" data-role="tagsinput" class="input-tags form-control" placeholder="Meta Keywords" name="services" value="Lorem,Ipsum" id="services">
</div>
<div class="form-group">
<label>Meta Description <span class="star-red">*</span></label>
<textarea class="form-control"></textarea>
</div>
<div class="form-group mb-0">
<div class="settings-btns">
<button type="submit" class="btn btn-orange">Submit</button>
<button type="submit" class="btn btn-grey">Cancel</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<script src="assets/js/jquery-3.7.1.min.js" type="a215b272069b8558f6bf2cda-text/javascript"></script>

<script src="assets/js/bootstrap.bundle.min.js" type="a215b272069b8558f6bf2cda-text/javascript"></script>

<script src="assets/js/feather.min.js" type="a215b272069b8558f6bf2cda-text/javascript"></script>

<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js" type="a215b272069b8558f6bf2cda-text/javascript"></script>

<script src="assets/js/moment.min.js" type="a215b272069b8558f6bf2cda-text/javascript"></script>
<script src="assets/plugins/daterangepicker/daterangepicker.js" type="a215b272069b8558f6bf2cda-text/javascript"></script>

<script src="assets/plugins/select2/js/select2.min.js" type="a215b272069b8558f6bf2cda-text/javascript"></script>

<script src="assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js" type="a215b272069b8558f6bf2cda-text/javascript"></script>

<script src="assets/js/script.js" type="a215b272069b8558f6bf2cda-text/javascript"></script>
<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="a215b272069b8558f6bf2cda-|49" defer></script></body>

</html>