<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<!-- title -->
<link rel="shortcut icon" href="assets/img/favicon.png">
<!-- style -->

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/feather/feather.css">

<link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">

<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="main-wrapper">

<!-- header -->


<!-- sidebar -->


<div class="page-wrapper">
<div class="content container-fluid">

<!-- page header -->

<div class="row">
<div class="col-sm-12">
<div class="card card-table">
<div class="card-body">

<!-- page header -->
<div class="table-responsive">
<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
<thead class="student-thread">
<tr>
<th>Route Name</th>
<th>Vehicle Number</th>
<th>Driver Name</th>
<th>Driver License</th>
<th>Contact Number</th>
<th>Driver Address</th>
<th class="text-end">Action</th>
</tr>
</thead>
<tbody>
<tr>
<td>New Cross</td>
<td>TN 43 AS 5263</td>
<td>Steve</td>
<td>REDH968532</td>
<td>+91 8974158962</td>
<td>152, South Pole, 2nd Street, 3rd Cross</td>
<td class="text-end">
<div class="actions ">
<a href="javascript:;" class="btn btn-sm bg-success-light me-2 ">
<i class="feather-eye"></i>
</a>
<a href="edit-transport.html" class="btn btn-sm bg-danger-light">
<i class="feather-edit"></i>
</a>
</div>
</td>
</tr>
<tr>
<td>North Pole</td>
<td>TN 34 DB 5847</td>
<td>Akbar</td>
<td>RGTH958932</td>
<td>+91 8596841252</td>
<td>253, 2nd Street, 3rd Crosst</td>
<td class="text-end">
<div class="actions ">
<a href="javascript:;" class="btn btn-sm bg-success-light me-2 ">
<i class="feather-eye"></i>
</a>
<a href="edit-transport.html" class="btn btn-sm bg-danger-light">
<i class="feather-edit"></i>
</a>
</div>
</td>
</tr>
<tr>
<td>South Wales</td>
<td>TN 34 AK 6789</td>
<td>Joseph</td>
<td>DLFH985632</td>
<td>+91 9658741526</td>
<td>741, East Road, 2nd Street</td>
<td class="text-end">
<div class="actions ">
<a href="javascript:;" class="btn btn-sm bg-success-light me-2 ">
<i class="feather-eye"></i>
</a>
<a href="edit-transport.html" class="btn btn-sm bg-danger-light">
<i class="feather-edit"></i>
</a>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- footer -->

</div>

</div>


<script src="assets/js/jquery-3.7.1.min.js" type="3b0835ac0a308997e9f3e43e-text/javascript"></script>

<script src="assets/js/bootstrap.bundle.min.js" type="3b0835ac0a308997e9f3e43e-text/javascript"></script>

<script src="assets/js/feather.min.js" type="3b0835ac0a308997e9f3e43e-text/javascript"></script>

<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js" type="3b0835ac0a308997e9f3e43e-text/javascript"></script>

<script src="assets/plugins/datatables/datatables.min.js" type="3b0835ac0a308997e9f3e43e-text/javascript"></script>

<script src="assets/js/script.js" type="3b0835ac0a308997e9f3e43e-text/javascript"></script>
<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="3b0835ac0a308997e9f3e43e-|49" defer></script></body>

</html>