<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">


<link rel="shortcut icon" href="assets/img/favicon.png">



<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/feather/feather.css">

<link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="main-wrapper">







<div class="page-wrapper">
<div class="content container-fluid">

<
<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<form>
<div class="row">
<div class="col-12">
<h5 class="form-title"><span>Fees Information</span></h5>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>Student ID <span class="login-danger">*</span></label>
<input type="text" class="form-control">
</div>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>Student Name <span class="login-danger">*</span></label>
<input type="text" class="form-control">
</div>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>Gender <span class="login-danger">*</span></label>
<select class="form-control select">
<option>Select Gender</option>
<option>Female</option>
<option>Male</option>
<option>Others</option>
</select>
</div>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>Fees Type <span class="login-danger">*</span></label>
<select class="form-control select">
<option>Select Type</option>
<option>Class Test</option>
<option>Exam Fees</option>
<option>Hostel Fees</option>
<option>Transport Fees</option>
<option>Mess Fees</option>
</select>
</div>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>Fees Amount <span class="login-danger">*</span></label>
<input type="text" class="form-control">
</div>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms calendar-icon">
<label>Paid Date <span class="login-danger">*</span></label>
<input class="form-control datetimepicker" type="text" placeholder="DD-MM-YYYY">
</div>
</div>
<div class="col-12">
<div class="student-submit">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<script src="assets/js/jquery-3.7.1.min.js" type="caa8a73111f7ad26cddf0343-text/javascript"></script>

<script src="assets/js/bootstrap.bundle.min.js" type="caa8a73111f7ad26cddf0343-text/javascript"></script>

<script src="assets/js/feather.min.js" type="caa8a73111f7ad26cddf0343-text/javascript"></script>

<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js" type="caa8a73111f7ad26cddf0343-text/javascript"></script>

<script src="assets/plugins/select2/js/select2.min.js" type="caa8a73111f7ad26cddf0343-text/javascript"></script>

<script src="assets/plugins/moment/moment.min.js" type="caa8a73111f7ad26cddf0343-text/javascript"></script>
<script src="assets/js/bootstrap-datetimepicker.min.js" type="caa8a73111f7ad26cddf0343-text/javascript"></script>

<script src="assets/js/script.js" type="caa8a73111f7ad26cddf0343-text/javascript"></script>
<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="caa8a73111f7ad26cddf0343-|49" defer></script></body>


</html>