<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">


<link rel="shortcut icon" href="assets/img/favicon.png">


<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/feather/feather.css">

<link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

<link rel="stylesheet" href="assets/plugins/fullcalendar/fullcalendar.min.css">

<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="main-wrapper">






<div class="page-wrapper">
<div class="content container-fluid">


<div class="page-header">
<div class="row align-items-center">
<div class="col"></div>
<div class="col-auto text-end float-end ms-auto">
<a href="add-events.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-12 col-md-12">
<div class="card">
<div class="card-body">
<div id="calendar"></div>
</div>
</div>
</div>
</div>

<div class="modal fade none-border" id="my_event">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title">Add Event</h4>
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body"></div>
<div class="modal-footer justify-content-center">
<button type="button" class="btn btn-success save-event submit-btn">Create event</button>
<button type="button" class="btn btn-danger delete-event submit-btn" data-dismiss="modal">Delete</button>
</div>
</div>
</div>
</div>

</div>



</div>

</div>


<script src="assets/js/jquery-3.7.1.min.js" type="aa22122ef08719a60f242bb2-text/javascript"></script>

<script src="assets/js/bootstrap.bundle.min.js" type="aa22122ef08719a60f242bb2-text/javascript"></script>

<script src="assets/js/feather.min.js" type="aa22122ef08719a60f242bb2-text/javascript"></script>

<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js" type="aa22122ef08719a60f242bb2-text/javascript"></script>

<script src="assets/js/moment.min.js" type="aa22122ef08719a60f242bb2-text/javascript"></script>
<script src="assets/js/bootstrap-datetimepicker.min.js" type="aa22122ef08719a60f242bb2-text/javascript"></script>

<script src="assets/js/jquery-ui.min.js" type="aa22122ef08719a60f242bb2-text/javascript"></script>
<script src="assets/plugins/fullcalendar/fullcalendar.min.js" type="aa22122ef08719a60f242bb2-text/javascript"></script>
<script src="assets/plugins/fullcalendar/jquery.fullcalendar.js" type="aa22122ef08719a60f242bb2-text/javascript"></script>

<script src="assets/js/script.js" type="aa22122ef08719a60f242bb2-text/javascript"></script>
<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="aa22122ef08719a60f242bb2-|49" defer></script></body>


</html>