<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">


<link rel="shortcut icon" href="assets/img/favicon.png">



<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/feather/feather.css">

<link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">

<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="main-wrapper">






<div class="page-wrapper">
<div class="content container-fluid">



<div class="row">
<div class="col-sm-12">
<div class="card card-table">
<div class="card-body">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Holiday</h3>
</div>
<div class="col-auto text-end float-end ms-auto download-grp">
<a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
<a href="add-holiday.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
</div>
</div>
</div>

<div class="table-responsive">
<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
<thead class="student-thread">
<tr>
<th>ID</th>
<th>Holiday Name</th>
<th>Type</th>
<th>Start Date</th>
<th>End Date</th>
</tr>
</thead>
<tbody>
<tr>
<td>PRE2209</td>
<td>
<h2>
<a>Sports Day</a>
</h2>
</td>
<td>College Holiday</td>
<td>17 Aug 2020</td>
<td>19 Aug 2020</td>
</tr>
<tr>
<td>PRE2213</td>
<td>
<h2>
<a>Memorial Day</a>
</h2>
</td>
<td>Public Holiday</td>
<td>05 Aug 2020</td>
<td>06 Aug 2020</td>
</tr>
<tr>
<td>PRE2143</td>
<td>
<h2>
<a>Annual Day</a>
</h2>
</td>
<td>College Holiday</td>
<td>04 Sept 2020</td>
<td>07 Sept 2020</td>
</tr>
<tr>
<td>PRE2431</td>
<td>
<h2>
<a>Exam Holiday</a>
</h2>
</td>
<td>Semester leave</td>
<td>17 Sept 2020</td>
<td>30 Sept 2020</td>
</tr>
<tr>
<td>PRE2209</td>
<td>
<h2>
<a>Sports Day</a>
</h2>
</td>
<td>College Holiday</td>
<td>17 Aug 2020</td>
<td>19 Aug 2020</td>
</tr>
<tr>
<td>PRE2213</td>
<td>
<h2>
<a>Memorial Day</a>
</h2>
</td>
<td>Public Holiday</td>
<td>05 Aug 2020</td>
<td>06 Aug 2020</td>
</tr>
<tr>
<td>PRE2143</td>
<td>
<h2>
<a>Annual Day</a>
</h2>
</td>
<td>College Holiday</td>
<td>04 Sept 2020</td>
<td>07 Sept 2020</td>
</tr>
<tr>
<td>PRE2431</td>
<td>
<h2>
<a>Exam Holiday</a>
</h2>
</td>
<td>Semester leave</td>
<td>17 Sept 2020</td>
<td>30 Sept 2020</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>



</div>

</div>


<script src="assets/js/jquery-3.7.1.min.js" type="75c486aecda48729915abe69-text/javascript"></script>

<script src="assets/js/bootstrap.bundle.min.js" type="75c486aecda48729915abe69-text/javascript"></script>

<script src="assets/js/feather.min.js" type="75c486aecda48729915abe69-text/javascript"></script>

<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js" type="75c486aecda48729915abe69-text/javascript"></script>

<script src="assets/plugins/datatables/datatables.min.js" type="75c486aecda48729915abe69-text/javascript"></script>

<script src="assets/js/script.js" type="75c486aecda48729915abe69-text/javascript"></script>
<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="75c486aecda48729915abe69-|49" defer></script></body>


</html>