<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<!-- title -->
<link rel="shortcut icon" href="assets/img/favicon.png">

<!-- style -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/plugins/feather/feather.css">

<link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

<link rel="stylesheet" href="assets/css/feather.css">

<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

<link rel="stylesheet" href="assets/css/ckeditor.css">

<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="main-wrapper">

<!-- header -->


<!-- sidebar -->


<div class="page-wrapper">
<div class="content container-fluid">
<!-- page header -->
<div class="row">
<div class="col-lg-12">

<div class="settings-menu-links">
<ul class="nav nav-tabs menu-tabs">
<li class="nav-item">
<a class="nav-link" href="settings.html">General Settings</a>
</li>
<li class="nav-item">
<a class="nav-link" href="localization-details.html">Localization</a>
</li>
<li class="nav-item">
<a class="nav-link" href="payment-settings.html">Payment Settings</a>
</li>
<li class="nav-item">
<a class="nav-link" href="email-settings.html">Email Settings</a>
</li>
<li class="nav-item">
<a class="nav-link" href="social-settings.html">Social Media Login</a>
</li>
<li class="nav-item">
<a class="nav-link" href="social-links.html">Social Links</a>
</li>
<li class="nav-item">
<a class="nav-link" href="seo-settings.html">SEO Settings</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="others-settings.html">Others</a>
</li>
</ul>
</div>

<div class="row">
<div class="col-md-6">
<div class="card">
<div class="card-header d-flex justify-content-between align-items-center">
<h5 class="card-title">Enable Google Analytics</h5>
<div class="status-toggle d-flex justify-content-between align-items-center">
<input type="checkbox" id="status_1" class="check" checked>
<label for="status_1" class="checktoggle">checkbox</label>
</div>
</div>
<div class="card-body pt-0">
<form>
<div class="settings-form">
<div class="form-group">
<label>Google Analytics <span class="star-red">*</span></label>
<textarea class="form-control" placeholder="Google Analytics"></textarea>
</div>
<div class="form-group mb-0">
<div class="settings-btns">
<button type="submit" class="btn btn-orange">Save</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card">
<div class="card-header d-flex justify-content-between align-items-center">
<h5 class="card-title">Enable Google Adsense Code</h5>
<div class="status-toggle d-flex justify-content-between align-items-center">
<input type="checkbox" id="status_2" class="check" checked>
<label for="status_2" class="checktoggle">checkbox</label>
</div>
</div>
<div class="card-body pt-0">
<form>
<div class="settings-form">
<div class="form-group">
<label>Google Adsense Code <span class="star-red">*</span></label>
<textarea class="form-control" placeholder="Google Adsense Code"></textarea>
</div>
<div class="form-group mb-0">
<div class="settings-btns">
<button type="submit" class="btn btn-orange">Save</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card">
<div class="card-header d-flex justify-content-between align-items-center">
<h5 class="card-title">Display Facebook Messenger</h5>
<div class="status-toggle d-flex justify-content-between align-items-center">
<input type="checkbox" id="status_3" class="check" checked>
<label for="status_3" class="checktoggle">checkbox</label>
</div>
</div>
<div class="card-body pt-0">
<form>
<div class="settings-form">
<div class="form-group">
<label>Facebook Messenger <span class="star-red">*</span></label>
<textarea class="form-control" placeholder="Facebook Messenger"></textarea>
</div>
<div class="form-group mb-0">
<div class="settings-btns">
<button type="submit" class="btn btn-orange">Save</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card">
<div class="card-header d-flex justify-content-between align-items-center">
<h5 class="card-title">Display Facebook Pixel</h5>
<div class="status-toggle d-flex justify-content-between align-items-center">
<input type="checkbox" id="status_4" class="check" checked>
<label for="status_4" class="checktoggle">checkbox</label>
</div>
</div>
<div class="card-body pt-0">
<form>
<div class="settings-form">
<div class="form-group">
<label>Google Adsense Code <span class="star-red">*</span></label>
<textarea class="form-control" placeholder="Google Adsense Code"></textarea>
</div>
<div class="form-group mb-0">
<div class="settings-btns">
<button type="submit" class="btn btn-orange">Save</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="col-md-6 d-flex">
<div class="card w-100">
<div class="card-header d-flex justify-content-between align-items-center">
<h5 class="card-title">Display Google Recaptcha</h5>
<div class="status-toggle d-flex justify-content-between align-items-center">
<input type="checkbox" id="status_5" class="check" checked>
<label for="status_5" class="checktoggle">checkbox</label>
</div>
</div>
<div class="card-body pt-0">
<form>
<div class="settings-form">
<div class="form-group form-placeholder">
<label>Google Rechaptcha Site Key <span class="star-red">*</span></label>
<input type="text" class="form-control" placeholder="6LcnPoEaAAAAAF6QhKPZ8V4744yiEnr41li3SYDn">
</div>
<div class="form-group form-placeholder">
<label>Google Rechaptcha Secret Key <span class="star-red">*</span></label>
<input type="text" class="form-control" placeholder="6LcnPoEaAAAAACV_xC4jdPqumaYKBnxz9Sj6y0zk">
</div>
<div class="form-group mb-0">
<div class="settings-btns">
<button type="submit" class="btn btn-orange">Save</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="col-md-6 d-flex">
<div class="card w-100">
<div class="card-header d-flex justify-content-between align-items-center">
<h5 class="card-title">Cookies Agreement</h5>
<div class="status-toggle d-flex justify-content-between align-items-center">
<input type="checkbox" id="status_6" class="check" checked>
<label for="status_6" class="checktoggle">checkbox</label>
</div>
</div>
<div class="card-body pt-0">
<form>
<div class="settings-form">
<div class="form-group">
<label>Cookies Agreement Text <span class="star-red">*</span></label>
<div id="editor"></div>
</div>
<div class="form-group mb-0">
<div class="settings-btns">
<button type="submit" class="btn btn-orange">Save</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>


<script src="assets/js/jquery-3.7.1.min.js" type="e61916c5888448986ab12c32-text/javascript"></script>

<script src="assets/js/bootstrap.bundle.min.js" type="e61916c5888448986ab12c32-text/javascript"></script>

<script src="assets/js/feather.min.js" type="e61916c5888448986ab12c32-text/javascript"></script>

<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js" type="e61916c5888448986ab12c32-text/javascript"></script>

<script src="assets/js/ckeditor.js" type="e61916c5888448986ab12c32-text/javascript"></script>

<script src="assets/plugins/select2/js/select2.min.js" type="e61916c5888448986ab12c32-text/javascript"></script>

<script src="assets/js/script.js" type="e61916c5888448986ab12c32-text/javascript"></script>
<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="e61916c5888448986ab12c32-|49" defer></script></body>

</html>